<script>
 import '../app.scss';

 import api from '$utils/api.js';

 api.init({
     baseURL: 'http://localhost:3000/api',
     headers: {
         'content-type': 'application/json',
         'accept': 'application/json'
     }
 });
</script>

<slot />
