<script>
 import {onMount} from 'svelte';

 import api from '$utils/api.js';
 import geo from '$utils/geo.js';

 onMount(async ()=>{
     await api.get('/restaurants', {
         lat: 53,
         lon: -113
     });
 });
</script>

<svelte:head>
    <title>Fly and Fetch coding quiz</title>
</svelte:head>
<div class="shadow-lg w-1/2 mx-auto mt-20 text-center p-4 border-2 border-gray-100 rounded">
    <div class="text-2xl font-bold mb-2">Fly and Fetch coding quiz</div>
    <div class="text-gray-400 leading-tight">
        Get started here. Replace the contents of
        this page with a searchable list of nearby restaurants.
    </div>
</div>
